@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: rgba(167, 162, 162);
    /* width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 20px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(24, 22, 22);
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: rgb(211, 12, 122); */
    height: 78vh;
    width: 80vw;
    margin: 145px auto;
    display: flex;
    justify-content: space-around;
    height: 58vh;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}
 
.hello{
    font-size: 3em;
}

.name{
    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.about{
    font-size: 2em;
}

.moreAbout{
    margin-top: 23px;
    font-size: 2em;
    font-family: 'Fire Sans', sans-serif;
}

.buttons{
    margin-top: 34px;
    font-size: 16px;
}

.btn{
    font-size: 2em;
    background-color: rgb(211, 12, 122);
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(168, 162, 168);
    color: white;
}

.devPic img{
    height: 58vh;
    
}

.contactForm{
    padding: 0 34px;
    /* padding-top: 145px; */
    font-family: 'Fira Sans', sans-serif;
    margin: 40px 90px;
}

.contactForm h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactForm form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactForm form div input{
    padding: 3px;
    width: 12vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
}

#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 25px;
    margin: 1px 0;
}

.btn-sm{
    font-size: 13px;
    padding: 10px 19px;
    margin: 12px 0;
}

.blogContainer{
    margin: 40px 90px;
}

.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.blogContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}

.blogItem p{
    font-family:'Lucida Sans', sans-serif;
}


.intro{
    margin: 40px 90px;
    font-family: 'Fira Sans', sans-serif;
}

.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}

.intro p{
    font-family:'Lucida Sans', sans-serif;
    margin-top: -10px;
    margin-left: 28px;
}

span{
    margin-left: 28px;
}

.skills{
    margin-left: 28px;
    width: 400px;
    height: 10px;
    background-color: rgb(211, 12, 122);
    border-radius: 28px;
}

.skills:nth-child(4){
    height: 10px;
    width: 350px;
}

.skills:nth-child(6){
    height: 10px;
    width: 290px;
}

.skills:nth-last-child(1){
    height: 10px;
    width: 80px;
}

.sidebarGo {
    transform: translate(-434px, 0px);
    position: absolute;
}

.hamBurger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}

.ham{
    margin-left: 10px;
}

.cross{
    margin-left: 150px;
}

 
@media (max-width: 1200px) {
    /* .sidebar {
        transform: translate(-434px, 0px);
        position: absolute;
    } */

    *{
        font-size: 1.1rem;
    }

    .buttons{
        font-size: 10px;
    }

    .devInfo{
        font-size: 10px;
    }

    .devPic{
        display: none;
    }

    .intro, .blogContainer, .contactForm{
        margin: 20px 8px;
    }

    #clientName{
        width: 200px;
    }

    #clientEmail{
        width: 200px;
    }

    #clientPhone{
        width: 200px;
    }
    
    .blogContainer{
        margin: 40px 30px;
    }

    .intro{
        margin: 40px -20px;
    }
    .skills{
        height: 10px;
        width: 300px;
    }
    .skills:nth-child(4){
        height: 10px;
        width: 250px;
    }
    .skills:nth-child(6){
        height: 10px;
        width: 200px;
    }
    .skills:nth-last-child(1){
        height: 10px;
        width: 70px;
    }
}
